body {
  margin: 0;
  padding: 0;
  font-family: arial;
}

#main-screen {
  font-family: 'Roboto Slab', serif;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222;
  z-index: +999;
  color: white;
  font-size: 3em;
  padding-top: 20%;
}

#tutorial-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  background: rgba(0, 0, 0, .7);
  background: url('../assets/images/oldmaptexture.jpg');
  background-size: cover;
  opacity: 0.9;
}

#tutorial-real-screen, #win-screen, #lose-screen {
  font-family: 'Roboto Slab', serif;
  position: fixed;
  width: 90%;
  height: 90%;
  left: 5%;
  top: 5%;
  padding: 20px 50px;
  font-size: 1.2em;
  color: #353535;
}

#win-screen, #lose-screen {
  display: none;
}

#tutorial-scrollable {
  width: 90%;
  height: 90%;
  overflow-y: scroll;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0, .2);
  border-top: 1px solid rgba(0,0,0, .2);
}

#game-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #222;
  background: url('../assets/images/castle-back.jpg');
  background-size: cover;
}

.playButton {
  cursor: pointer;
  width: 90%;
  background: #353535;
  font-size: 2em;
  color: white;
  padding: 10px 20px;
  border: none;
}

#megumin {
  position: fixed;
  top: 100px;
  left: 45%;
  border: 1px solid rgba(255, 255, 255, .1);
}
